<h1>Calculate your cost</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@student) do |f| %>

		<%= f.label :scholarships %>
		<%= f.text_field :scholarships %>

		<%= f.label :contribution %>
		<%= f.text_field :contribution %>

		<%= f.label :college %>
		<%= f.text_field :college %>

		<%= f.label :major %>
		<%= f.select :major, [['Computer Science (CS)','Computer Science (CS)'],['Art History','art history'],['Finance','finance']] %>

		<%= f.submit "Calculate my debt", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>

<div>
	<% if @student.monthly_cost? %>
	<h2>Calculated</h2>
	<%end%>