<h1>Calculate your cost</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@student) do |f| %>

		<%= f.label :contribution %>
		<%= f.text_field :contribution %>

		<%= f.label :college %>
		<%= f.autocomplete_field :college, autocomplete_price_college_students_path %>

		<%= f.label :major %>
		<%= f.autocomplete_field :major, autocomplete_salary_major_students_path %>

		<%= f.submit "Calculate my debt", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>

<div>
	<% if @student.monthly_cost? %>
	<h2>Calculated</h2>
	<%end%>